.navbar {
    width: 1082px; 
    height: 26px;
    padding: 20px 20px; 
    position: fixed;
    top: 0px; 
    left: 241px; 
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    border: 1px solid #D7DBE0;

  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -1px;
    
  }
  
  .navbar-item {
    margin-left: 450px;
    margin-right: -70px;

  }
  .man {
    width: 25px;
    height: 25px;
    margin-left:510PX ;
    margin-right:-1950px ;
  }
  
  
  .navbar-profile {
    width: 20px;
    height: 20px;
    margin-right: 100px;
    margin-left:160px ;
    font-size: 20px;
  }
  